/* index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}

/* Twinkling stars */
@keyframes move-background {
  from { transform: translate3d(0px, 0px, 0px); }
  to { transform: translate3d(1000px, 0px, 0px); }
}

.background-container {
  position: fixed;
  top: 0; left:0; bottom: 0; right: 0;
  z-index: -1;
}

.stars {
  background: black url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  display: block; z-index: 0;
}

.twinkling {
  width:10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute; right: 0; top: 0; bottom: 0;
  z-index: 2;
  animation:move-background 70s linear infinite;
}